// // BG
// $main-bg: #2a3447;
// $soft-bg: #384256;
// $dark-bg: #222b3c;
// //TEXT
// $main-color: white;
// $soft-color: #ddd;
// $dark-color: #2a3447;



// Background Colors
$main-bg: #ffffff;     // White background
$soft-bg: #f0f0f0;     // Soft/light background
$dark-bg: #dddddd;     // Darker background

// Text Colors
$main-color: #000000;  // Black text color
$soft-color: #777777;  // Softer/lighter text color
$dark-color: #ffffff;  // White text color
